* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: block;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/contant.jpg");
  background-size: cover;
  height: 40%;
  color: white;
}

.name {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
  text-align: center;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav .logo:hover {
  color: #ee2c2c;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  *{
    box-sizing: border-box;

  }
  nav {
    padding: 0 40px 0 50px;

  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: absolute;
    top: 80px;
    left: -100%;
    background-color: black;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    background-size: cover;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: none;
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }

}

#portfolio-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.pro {
  padding: 0 8%;
}

.btn-default {
  margin: 2%;
}

h1 {
  text-align: center;
}

input.button-add {
  height: 32px;
  padding-left: 36px;
  padding-right: 10px;
  border: 1px solid #000000;
  background: #ff9900 url("http://placehold.it/16x16") no-repeat 10px center;
  cursor: pointer;
}

footer {
  background-color: white;
  color: black;
}

.social_icon {
  list-style: none;
  text-decoration: none;
  justify-content: center;
  display: flex;
  font-size: 31px;
  cursor: pointer;
  height: auto;
  padding: 50px;
}

/* ---------->SOCIAL ICON<---------- */
.social_icon li a {
  margin: 30px;
  color: black;
}

.instagram:hover {
  color: rgb(209, 29, 59);
  transition: 1s;
}

.github:hover {
  color: darkblue;
  transition: 1s;
}

.twitter:hover {
  color: skyblue;
  transition: 1s;
}
.linkedin:hover {
  color: #0077b5;
  transition: 1s;
}

.footer {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

@media (max-width:600px) {
  .social_icon {
    font-size: 28px;
    padding: 45px;
  }
}